elpa/*
auto-save-list/*
image-dired/
/tramp
/bookmarks
/jmm-emacs.el
newsticker/*
url/*
*.elc
/recentf
/newsrc.eld
/secrets.el
/personal/
/abbrev_defs
/emms/
/eshell/
/games/
/jmm-org-config.el
*.html
*.css
*.data
/org-gcal/
org-recent-headings
/request/
/emojis/
session.*
transient/history.el
/nix-buffer
/notes
.#recentf
%backup%~
company-statistics-cache.el
/.lsp-session-v1
/projects
/quickurls
/eln-cache/
/split/
.autoloads/
/multisession/
/var/
/transient/
/hippie/
